[2018-06-17 07:04] vukovicnikola opened #1 "IGListKit"
Hi Steve! Is MessengerKit compatible with IGListKit?

[2018-06-17 22:55] steve228uk commented on #1
Hi @vukovicnikola! Not currently, and I don’t have plans to migrate to it as I’d like to keep the dependencies at zero if possible.

[2018-06-17 22:55] #1 closed

[2018-06-18 01:12] marcospolanco opened #2 "pod installation instructions"
What worked for me was:

`pod 'MessengerKit', :git => 'https://github.com/steve228uk/MessengerKit.git'
`

The current instructions result in my case with:

     fatal: Could not read from remote repository.

     Please make sure you have the correct access rights
     and the repository exists.

[2018-06-18 09:36] steve228uk commented on #2
Hi @marcospolanco,

It looks like this is an issue with your publickey on Github. You can take a look at how to resolve this issue here: https://help.github.com/articles/error-permission-denied-publickey/

I will however update the readme to use http as it's likely that others will encounter this issue.

Thanks! 👍

[2018-06-18 09:37] #2 closed

[2018-06-28 12:21] tech4solitude opened #3 "Floating Sticky dates for section headers - like whatsapp"
Hi @steve228uk ,

Nice work - it helps a lot.
Had a question : How to enable sticky header to show current date.

[2018-06-28 16:22] steve228uk commented on #3
As the base for MessengerKit is a UICollectionView you can provide a custom flow layout in a `MSGMessengerStyle` that provides sticky headers. This tutorial might help: https://cocoacasts.com/how-to-add-sticky-section-headers-to-a-collection-view

As this is likely going to be a highly requested feature I’ll look to implement a style for it in the future.

[2018-06-30 15:25] marcospolanco opened #4 "MSGImessageInputView.nib"
It would be super helpful to make this an open class var, to make it easier to extend outside the module.
`

    override open class var nib: UINib? {
        return UINib(nibName: "MSGImessageInputView",
                     bundle: MessengerKit.bundle)
    }

    `

[2018-06-30 23:24] astrike30 opened #5 "Error when calling insert()"
When I call `self.insert` in my `MSGMessengerViewController` I get the error `Thread 1: EXC_BAD_ACCESS (code=1, address=0xfffffffffffffff8)` on the line `self.collectionView.performBatchUpdates({` in the `MSGMessengerViewController + Helpers.swift` file. If there's anymore information I should give, please let me know. :D

[2018-07-01 17:34] steve228uk commented on #4
This seems like a great idea and was definitely my intention when writing it. Please feel free to submit a pull request if you have time. If not I'll take a look at this when I'm back at work Monday.

[2018-07-01 17:34] steve228uk commented on #5
Are you able to let me know the exact line that's triggering the error? Are you able to provide an example project?

[2018-07-01 20:37] marcospolanco commented on #4
https://github.com/steve228uk/MessengerKit/pull/6

[2018-07-01 20:37] #4 closed

[2018-07-02 20:07] svmadiraju commented on #3
Hi @steve228uk,

Amazing framework! A small question from someone new to iOS dev. I wanted to use MSGMessageBody with custom content (neither text, emoji, image, nor video) but am unsure as to what should be modified to implement this. Do you think you could help point me towards what/where I should modify to add custom message styles?

[2018-07-02 20:08] svmadiraju opened #7 "Custom Message Formats"
Hi @steve228uk,

Amazing framework! A small question from someone new to iOS dev. I wanted to use MSGMessageBody with custom content (neither text, emoji, image, nor video) but am unsure as to what should be modified to implement this. For instance, I want to have a message bubble with a clickable UIButton inside it. Do you think you could help point me towards what/where I should modify to add su

[2018-07-02 21:01] steve228uk commented on #7
Do you have an example as to what the button would do or look like? My initial thought is that using text that could control the title or action that you’d need.

Though I think there is a case here for a new custom type that accepts Any type.

[2018-07-02 21:05] svmadiraju commented on #7
Thanks for the response. Sure, my ultimate goal is to have clickable text that looks like a link, but is not a link to a webpage - instead, clicking on the text should trigger an in-app action. I was thinking that I would need a custom type that can store both the text that should be displayed in the message bubble (e.g "Hello") as well as the event that should be triggered on press (e.g a popup).

[2018-07-02 21:15] steve228uk commented on #7
Yeah that makes sense. I'll look to add an additional case in that will be accessible by custom message cells. For now you could use a delimiter and split it to get the title and the event e.g. "Hello|popup". Not ideal but for the time being it should work.

[2018-07-02 21:18] svmadiraju commented on #7
Sounds great. Would there be no way for me to add this kind of custom cell myself though in the meantime? I was trying to see how the text/emoji etc. are defined to replicate them, but could't quite find where they were defined and used.

[2018-07-02 21:22] steve228uk commented on #7
Every `MSGMessageCell` has its `message` property set. In here an `if case let` is done to check the type of message.

https://github.com/steve228uk/MessengerKit/blob/master/MessengerKit/Collection%20View/Cells/Emoji/MSGEmojiCollectionViewCell.swift#L15-L22

It should just be a case of adding `custom(Any)` to the `MSGMessageBody` but I don't have time to do this tonight. Feel free to experiment an

[2018-07-02 21:35] svmadiraju commented on #7
Thank you! 😃I'll play around and let you know!

Just one more question if you don't mind - I was trying to add another button beside the "send message" button, but was unable to find how to do so. I was looking in [MSGInputView.swift](https://github.com/steve228uk/MessengerKit/blob/master/MessengerKit/Input/MSGInputView.swift) but could not replicate how the "send" was created, do you think you co

[2018-07-02 21:50] steve228uk commented on #7
Currently `MSGInputView` only includes a send button by default but you should be able to add anything you'd like if you're going to handle the action yourself. The easiest way to achieve this is to create a new XIB and add everything in there. This is how both the Travamigos and iMessage styles work.

[2018-07-02 21:59] svmadiraju commented on #7
Gotcha. Very sorry for all the q's, please excuse my incompetence here! May I just ask what is an XIB?

[2018-07-02 22:03] steve228uk commented on #7
XIB/NIB is an interface builder file.

[2018-07-03 05:26] gersonjanhuel opened #8 "Could not load the "Arrow" image"
Hi there, awesome framework! Quick question :

After run pod install, implement MSGMessengerViewController, then somehow I got this error :

`Could not load the "Arrow" image referenced from a nib in the bundle with identifier "org.cocoapods.MessengerKit"`

What did I missed ?

MessengerKit v 1.0.0

<img width="1238" alt="screen shot 2018-07-03 at 12 31 01 pm" src="https://user-images.githubuserco

[2018-07-03 08:01] gersonjanhuel commented on #7
Success with "add custom button to the inputView" sir ? @svmadiraju

Hope you can share some of your code, really appreaciate it!

[2018-07-03 08:30] steve228uk commented on #5
Hi @astrike30,

I was able to replicate this when not appending a new message to the array containing messages prior to inserting it into collection view. Please ensure that you're doing this.

[code]

Once tested, please let me know so I can close the issue.

[2018-07-03 08:33] steve228uk commented on #7
Will add an example later today or tomorrow if I get time.

[2018-07-03 19:29] svmadiraju commented on #7
Wow, thanks @steve228uk! That was fast, let me take a look and play around with it!
Small side note, do you know how to make a new .XIB file for use correctly? Every time I do so and change the file in `MSGImessageInputView`, I get "Could not load NIB" errors. Looked it up and not sure how to fix, is there a better way to be using a custom XIB?

[2018-07-04 01:15] gersonjanhuel commented on #8
I got it fixed by set the image "Arrow" Target Membership to "MessengerKit".

Somehow it is "unchecked" by default.

<img width="899" alt="screen shot 2018-07-04 at 8 13 45 am" src="https://user-images.githubusercontent.com/2060000/42251545-38da6868-7f62-11e8-92cb-2a65362ed1b5.png">

[2018-07-04 08:35] steve228uk commented on #8
Strange that it wasn't already… It should have been in the MessengerKit-MessengerKit Bundle which the `MessengerKit.bundle` property would return

[2018-07-04 08:40] steve228uk commented on #7
@svmadiraju You'll need to create a custom UIView and Nib, wire them up and then set the in your style assign it to the `inputView` variable.

https://github.com/steve228uk/MessengerKit/wiki/Creating-a-Custom-Style

[2018-07-04 08:57] steve228uk commented on #8
Could you also try running `pod update`?

[2018-07-04 09:31] gersonjanhuel commented on #8
did tried... but no luck... the issue still happen.

[2018-07-04 10:16] steve228uk commented on #8
Thanks for letting me know, I'll do some investigation.

[2018-07-05 22:18] svmadiraju commented on #7
Hi @steve228uk,
Very sorry to have been bothering you with all this confusion, but I am still a bit lost as to how to modify the UI to add custom UI elements. I referred to the documentation you linked and studied the steps outlined to creating a new style, but all of those seem to be regarding modifying the look of the existing elements.

I'm pretty sure my thick skull is just missing basic somet

[2018-07-06 01:36] gersonjanhuel commented on #7
@svmadiraju Do you mean custom the message bubble ? I can help share my code. Did success with that.

About custom "Input View" same with you, still confuse.

[2018-07-06 08:55] steve228uk commented on #7
@svmadiraju @gersonjanhuel For the input view you'll need to subclass the `MSGInputView`, override the `nib` property to return the nib you're using for the design. You nib should include an `MSGPlaceholderTextView` and a button. Take a look at the existing nibs for some guidance here.

[2018-07-09 18:51] svmadiraju commented on #7
Hi @steve228uk,

Just following up on the earlier issue I was struggling with. I now have a much better understanding of NIBs and all the major files used in MessengerKit and how they work together.

I created a new custom InputView as a subclass of `MSGInputView` as well as a new NIB file with an `MSGPlaceholderTextView `, a button, and my own custom elements. I overrode the `nib` property in my

[2018-07-10 08:15] steve228uk commented on #7
@svmadiraju Could you paste the `nib` override? It should look something like

[code]

[2018-07-10 09:10] gersonjanhuel commented on #7
@svmadiraju

Here my custom inputView class is ChatInputView

Is it correct to do it like that ?

then I got exception  textView is nil...

<img width="1217" alt="screen shot 2018-07-10 at 4 07 52 pm" src="https://user-images.githubusercontent.com/2060000/42500428-7bc29fb2-845b-11e8-9152-113627370615.png">

[2018-07-10 13:08] steve228uk commented on #7
@gersonjanhuel It looks like you haven't linked your UINib to the `textView` `@IBOutlet`

[2018-07-10 13:23] gersonjanhuel commented on #7
its already linked to MSGInputView... @steve228uk

My steps :
- copy original MSGImessageInputView.xib
- then replace the class to my custom nib class...
- the textView and button already linked

<img width="952" alt="screen shot 2018-07-10 at 8 13 24 pm" src="https://user-images.githubusercontent.com/2060000/42512049-c4afe3d4-847d-11e8-953c-2ef4aa2d2f8b.png">

[2018-07-10 13:56] steve228uk commented on #7
@gersonjanhuel It should be linked to your new subclass. Try removing the reference and creating it again.

[2018-07-10 13:57] gersonjanhuel commented on #7
when I create new outlet in my new subclass... its error... says textView cannot be override...

[2018-07-10 13:59] steve228uk commented on #7
@gersonjanhuel You shouldn't need to create the outlet in the file itself as it will be auto-inherited from the super. Right click on the button or text view and drag the outlet to the "Chat Input View" in the left sidebar. You should be able to link it to the existing outlet there.

[2018-07-10 17:13] svmadiraju commented on #7
@steve228uk,
Thank you for the prompt responses. Sure, here is my `nib` override:

[code]

[code]

[2018-07-11 02:23] gersonjanhuel commented on #7
@steve228uk not sure what do you mean by :
"Right click on the button or text view and drag the outlet to the "Chat Input View" in the left sidebar."

can you provide example code for this ?
would really appreciate it

[2018-07-13 05:52] gersonjanhuel commented on #3
@steve228uk  how to set the custom Flow Layout ?
I can't find the variable...

[2018-07-16 10:01] gersonjanhuel commented on #7
Ok got it! Succesfully wired them up... but I cant do :

`override open class var nib: UINib? {
        return UINib(nibName: "CustomInputView",
                     bundle: nil)
    }`

[2018-07-18 03:32] gersonjanhuel commented on #7
have any luck with the custom Input View ? @svmadiraju

[2018-07-20 08:52] steve228uk commented on #5
Closing due to inactivity.

[2018-07-20 08:52] #5 closed

[2018-07-23 06:37] acerts04 opened #9 "Example project link returning 404"
Hey there!

I wanted to take a look and follow the example project, but when clicking on the link it gives a 404 error. Wanted to report it. Thanks!

[2018-07-25 09:08] steve228uk commented on #9
Hey @acerts04! Are you able to let me know where you're seeing this link?

[2018-07-26 19:21] steve228uk commented on #9
@acerts04 Thank you, that links been fixed. The example can be found here: https://github.com/steve228uk/MessengerKit/tree/master/Example/

[2018-07-26 19:21] #9 closed

[2018-07-31 01:48] greggmojica opened #10 "Instance member cannot be used on type"
Getting the following error, not sure how to resolve this, has anyone else experienced this?

```Instance member 'usr' cannot be used on type```

[2018-08-01 08:03] steve228uk commented on #10
Hi @greggmojica, are you able to provide an example project or line where this is being called?

[2018-08-31 15:12] machukas opened #11 "NSFetchedResultsController and sections"
Hi @steve228uk,

First of all thanks for this super easy to use library!

I am using it with a NSFetchedResultsController, and I am struggling myself trying to get by free the messages grouped by username after ordered by timestamp, but I am not succeeding.

If I provide the date as sort descriptor, and the user as sectionNameKeyPath, it groups the messages by user, so I get numberOfUsers sections

[2018-09-20 17:54] JStrawn commented on #7
When I try to subclass `MSGInputView`, I get an `Overriding non-open class var outside of its defining module` error.

I tried subclassing `MSGImessageInputView`, but even though my view has a text view and a send button connected to the custom InputView, I get a crash when setting the textfield delegate int `MSGInputView`. Any advice for making a custom `InputView`? Thanks

[2018-09-26 15:04] JStrawn opened #13 "Making a custom Input View"
When I try to subclass `MSGInputView`, I get an `Overriding non-open class var outside of its defining module` error.

I tried subclassing `MSGImessageInputView` instead, but even though my view has a text view and a send button connected to the custom `InputView`, I get a crash when setting the textfield delegate in `MSGInputView`. Any advice for making a custom InputView? Thanks

[2018-10-08 20:48] cyrilzakka commented on #13
I too would like to know how to customize the input view (to add an image)

[2018-10-12 21:50] fbarraganef commented on #8
same problem, I was able to fix setting the image "Arrow" Target Membership to "MessengerKit" too.

[2018-10-22 15:28] mkhakpaki opened #14 "Could not set text to message input view"
Hi,
first things first thank you for this great library and hours that you saved for me.
in my case i needed to add custom inputView for adding additional features like attach and stickers but now i have a problem.
in my app users can edit their messages but because of **internal** protection level of text property of  MSGPlaceholderTextView i can't set text so user can edit it.
any ideas for acco

[2018-10-26 11:07] cbess commented on #14
I'm having the same issue, given the activity within this `Issues` section, I'm going to fork the proj an make the change myself. I recommend you do the same, until they commit the access level change.

[2018-10-26 11:08] cbess commented on #14
I'm actually wanting the feature so that I can _restore_ unsent messages, so I need it as well.

[2018-10-26 11:10] cbess commented on #14
@mkhakpaki I see you've made the change already :) You should make a PR to have it added.

[2018-10-27 14:42] mkhakpaki commented on #14
actually i wast waiting for contributors to answer that this have reason or can i sen PR.but apparently they are busy.Anyway i am making the PR now.

[2018-11-20 11:57] nitinumaretiya123 opened #16 "when push/present subclass ViewController of MSGMessengerViewController"
got error from storyboard
[code]
where ReadingVC is subclass of MSGMessengerViewController
* Assertion failure in -[UIStoryboard instantiateViewControllerWithIdentifier:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKitCore/UIKit-3698.84.15/UIStoryboard.m:171

[2018-12-07 19:37] dverdugo85 opened #17 "issue with iphone 5s when testing!!"
I have issue in height initial the app in the chat

view.inputViewContainer.bottomAnchor.constraint(equalTo: keyboardLayoutGuide.topAnchor).isActive = true

![image](https://user-images.githubusercontent.com/5117517/49668920-5f626380-fa3e-11e8-89b3-f23f0e959716.png)

Regards!!!

[2018-12-21 19:23] Steven4294 opened #18 "Typing indicators"
Any reference on how to add a typing indicator using this framework?

[2018-12-28 06:19] sivap86 opened #19 "How to add attachment button to MSGInputView?"
I need a button at the Inputview for user to attach photos or videos from gallery. But when I try to subclass MSGInputView I am getting error Overriding non-open class var outside of its defining module.

[2019-01-02 05:41] V1992 opened #20 "Blank text is shown after send some text"
On the first time, when the MSGMessengerViewController loads, blank text is shown when send some text.
And the text which are send once scrolled, the order of the messages gets misplaced.

![screenshot 2019-01-02 at 10 58 12 am](https://user-images.githubusercontent.com/12439866/50581290-671af980-0e7e-11e9-8219-151917f263c0.png)

[2019-01-17 03:31] ridwan40046 commented on #16
have you solve this?

[2019-01-27 02:13] sjoness commented on #7
@svmadiraju @gersonjanhuel @JStrawn I do realise that this thread has been dead for a while but I'll still chip in. These issues are due to the nib, textView and sendButton properties being public access level. Public class members can only be overridden by subclasses defined in the module they are defined in, therefore the access level needs to be changed to open for subclassed MSGInputView's to

[2019-01-27 20:53] #13 closed

[2019-01-27 20:53] #19 closed

[2019-01-27 21:33] sjoness commented on #20
@V1992 are you managing your messages array correctly?

[2019-01-27 21:40] sjoness commented on #18
@Steven4294 The following can be found in [MSGMessengerViewController.swift](https://github.com/steve228uk/MessengerKit/blob/c46be0ef6748662282b802a89dd569bc1fc5c4d6/MessengerKit/Messenger%20View/MSGMessengerViewController.swift#L206)

[code]

[2019-01-27 21:49] sjoness commented on #7
@steve228uk Pretty sure this can be closed now since you added the `custom(Any)` `MSGMessageBody` case and the `MSGInputView` subclassing issue has been resolved.

[2019-01-28 22:48] #7 closed

[2019-01-28 22:49] sjoness commented on #10
Closing due to inactivity

[2019-01-28 22:49] #10 closed

[2019-01-28 23:06] sjoness commented on #11
Hey @machukas, when you initially fetch your messages (I assume you fetch what's stored locally and then you handle anything incoming later), you could process them with a function like this:

[code]

You could then do the same thing with a similar method that takes a single comment arguments, when you send or receive a message:

[code]

[2019-01-29 08:47] sjoness commented on #20
@V1992 I'm trying to ascertain if the cause of your issue is a bug in MessengerKit, or a mismanagement of your dataSource?

If you think it's a bug, could you give me some steps to reproduce the behaviour please

[2019-01-29 08:49] sjoness commented on #17
@dverdugo85 what device is this running on? Is your MSGMessengerViewController constrained correctly?

[2019-01-30 22:03] sjoness commented on #16
@nitinumaretiya123 It seems that you've forgotten to set the Storyboard ID for the view controller that you want to instantiate. You can set this in the Identity Inspector in the storyboard where `ReadingVC` lives.

@ridwan40046 do you have the same issue? Once you set the Storyboard ID, you should be good to go!

[2019-01-30 22:06] #11 closed

[2019-01-30 22:07] sjoness commented on #20
Closing due to inactivity

[2019-01-30 22:07] #20 closed

[2019-01-31 07:33] AraTechES commented on #11
Hey @sjoness, thanks for replying.

What's self.messages? Are you not using the frc.object(at:) as dataSource?

[2019-01-31 10:43] sjoness commented on #11
@AraTechES a suggestion would be to fetch the messages once and then store the results in a separate property so that you can manipulate the order of the messages. In this example you would use the `messages` property as the dataSource.

[2019-01-31 11:13] V1992 opened #26 "Custom Input view is jumping upwards automatically without typing"
If I start typing on custom inputview textfield and go back to any previous screen. After that when I reopened MSGMessengerViewController screen for infinite times automatically the input view will jump up always.
I want to prevent this and instead of that the custom input view should only jumps up when start typing something on it. I dont find any solution for this. Pls help.

![skype_picture](ht

[2019-02-01 11:10] saurabhPV opened #27 "Fails to detect emoji only message when there are more than 4 messages"
![simulator screen shot - iphone x - 2019-02-01 at 16 34 07](https://user-images.githubusercontent.com/15213067/52119538-5efdd780-263f-11e9-838d-a6809cd483e2.png)

[2019-02-01 17:16] sjoness commented on #27
@saurabhPV This behaviour is intentional and can be seen in Messages.app.

You can override this behaviour by handling the `inputViewPrimaryActionTriggered` method in your `MSGMessengerViewController` subclass:

First, check if the message contains only emojis, if it does then set the `MSGMessageBody` type to `.emoji`, else default to `.text`, then instantiate your message variable and insert it i

[2019-02-01 17:18] sjoness commented on #27
However, any more than 5 emojis, and the message will truncate. You will need to create a custom style in order to handle the wrapping of the emoji messages if that's what you want.

[2019-02-01 17:19] #27 closed

[2019-02-01 17:19] sjoness commented on #26
@V1992 Thanks for reporting this. I will look into it at some point this weekend

[2019-02-01 20:10] #18 closed

[2019-03-02 12:25] #14 closed

[2019-03-02 12:27] sjoness opened #29 "Add more information/instructions to the README.md"

[2019-03-03 11:20] alessioarsuffi opened #30 "iOS 9 Support"
Hello guys, this is such a wonderful library!
I was wondering, why is iOS 9 not supported? I've forked the project and easily lowered deployment target to 9.0, after adding some

    @available(iOS 9.0, *)

checks, library runs pretty smooth in iOS 9.
I can make a pull request if someone wants this too.

Let me know, thanks :)

[2019-03-14 20:45] sjoness commented on #30
@alessioarsuffi go ahead and submit that PR bro. I'll take a look at it this weekend 👍

[2019-03-14 20:58] alessioarsuffi commented on #30
Sure!

[2019-03-15 17:00] anaselfauri opened #32 "How to add attachment button to MSGInputView"
How to add attachment button to MSGInputView?

[2019-03-15 17:09] alessioarsuffi commented on #32
You should Create a custom MSGInputView subclass. Create also a custom Xib. Add button to that xib and then link everything you need (IBAction & customization).

This is a very basic example:

    import MessengerKit

    class CustomInputView: MSGInputView {

	@IBOutlet weak var containerView: UIView!
        @IBOutlet weak var attachmentButton: UIButton!

	override open class var nib: UINib? {

[2019-03-18 03:18] alessioarsuffi commented on #3
@steve228uk
@tech4solitude

Maybe these links are useful:

https://developer.apple.com/documentation/uikit/uicollectionviewflowlayout/1617699-sectionheaderspintovisiblebounds

https://developer.apple.com/documentation/uikit/uicollectionviewflowlayout/1617701-sectionfooterspintovisiblebounds

Makes it really easy to have a sticky header/footer :)

[2019-03-21 21:36] Ryskalo commented on #8
same.. can't load bubble images too with iMessage style

[2019-04-07 15:49] windstormeye opened #33 "Swift 5"
Please Upgrade to Swift 5~

[2019-04-09 18:38] sjoness commented on #33
I may have some time to look at this, this weekend

[2019-04-21 18:05] sukhrabbek commented on #8
same problem, I could not fix even by setting the image "Arrow" Target Membership to "MessengerKit" too.

[2019-04-21 18:52] sjoness commented on #8
Closed by #21

[2019-04-21 18:52] #8 closed

[2019-04-28 11:32] george-gymamigo opened #34 "NSInternalInconsitencyException"
When the user presses the send button upon trying to insert new message the following error is thrown:

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid update: invalid number of sections.  The number of sections contained in the collection view after the update (1) must be equal to the number of sections contained in the collection view before the

[2019-04-30 07:53] shivam-dubeyy opened #35 "How to change the Send Button background color ?"

[2019-04-30 07:58] #35 closed

[2019-05-20 16:02] parrotbait opened #36 "MSGMessengerViewController unregisters host app observers from NotificationCenter"
Version: 1.0.4
Reproduction rate: always
Description:
Currently a VC that derives from MSGMessengerViewController.swift is hidden the default behaviour is to remove the VC from the NotificationCenter. However this affects ALL observers in the derived VC, not just those registered by MessengerKit.

Case in point, my app needs to keep a notification with NotificationCenter that happens as soon as th

[2019-05-23 13:25] dan007b3 opened #37 "Is there a way to have two custom bubbles?"

[2019-05-23 15:08] sjoness commented on #34
@george-gymamigo This looks like an issue with your [NSFetchedResultsControllerDelegate](https://developer.apple.com/documentation/coredata/nsfetchedresultscontrollerdelegate) implementation.

Could you provide any furthers on your implementation of the delegate methods, and/or how you're fetching the data.

[2019-05-23 16:22] #37 closed

[2019-05-23 16:30] dan007b3 opened #38 "How to add custom header/footer and why can't I change the font size of the bubble text?"

[2019-06-04 10:36] #38 closed

[2019-06-04 10:39] dan007b3 opened #39 "How to use custom send button"
I created a custom input view but, my button does not work. So how do you use a custom send button?

[2019-06-04 10:40] #39 closed

[2019-06-04 10:40] dan007b3 commented on #39
solved the problem

[2019-06-05 20:38] cnovelini opened #40 "Height of bubble not growing when text is a variable"
Hey,
All works perfectly when trying the examples... but whenever I pull text from the Database and pass it to MSGMessage the bubble remains a one line height.

Any clues on what is going on?

Thanks

[2019-06-09 17:07] shauntif commented on #40
I have the same issue

[2019-06-09 18:24] cnovelini commented on #40
I seem to have fixed the issue.
Make sure the ID of the MSGMessage its not the same among the messages you create.

Cheers,

[2019-06-10 03:03] kharitonovAL opened #41 "Hide/add new view to hierarchy"
Hi!
First, I wonder, is there a way to hide `messageInputView` param, because for certain cases I don't need it.
And second - how to add another subviews in hierarchy? or just button?
Are there any legal way to di this things?
Thanks!

[2019-06-11 08:42] y25zhao commented on #26
Looks like this issue is still not resolved?

[2019-06-11 10:06] dan007b3 commented on #26
Sorry, to bother you, but it is resolved, was a stupid mistake on my part(I
declared the delegate in the wrong place), but I did notice that I can't
access the textviewdidchange function.

Greetings

Ekhorugue Daniel

On Tue, Jun 11, 2019, 10:42 y25zhao <notifications@github.com> wrote:

[2019-06-11 13:59] george-gymamigo commented on #34
Hi Sam

I sorted the issue thanks, however for some reason if the message is longer than one line, the message bubble doesn’t get bigger? How can I fix this?

On 23 May 2019, at 4:09 pm, Sam Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

@george-gymamigo<https://github.com/george-gymamigo> This looks like an issue with your NSFetchedResultsControllerDelegate<https://deve

[2019-06-11 14:21] dan007b3 opened #42 "UIImagepicker breakes constraint"
This issue is probably not caused by your code, but when you add an Image via UIImagepicker, then the image turns out like this.
<img width="318" alt="Screenshot 2019-06-11 at 16 18 29" src="https://user-images.githubusercontent.com/48243188/59279658-9a02be00-8c64-11e9-9433-b86e8c8c9e67.png">
, but when you just load an image from your assets it turns out normal.
<img width="327" alt="Screenshot 2

[2019-06-15 13:34] dan007b3 commented on #11
Hey @machukas, I have been trying to figure this thing out but I'm completely stuck. How did you implement this?

[2019-06-15 20:15] escherwd opened #43 "How to change Header/Footer Text Color in iMessage style"
Looking through the MSGMessangerStyle options I didn't see a way to change the header/footer text color in either the iMessage or Travamigos messages style. Is there a way to do this?

[2019-06-15 20:51] escherwd commented on #43
Oops, hadn't realize that if you use the override variable you can change it.

[2019-06-15 20:51] #43 closed

[2019-06-19 06:34] nicolas-landa-gigigo commented on #11
To be honest, I didn't. I had to use FRC as a requisite, so I couldn't go with sjoness suggestion.

[2019-06-19 06:35] machukas commented on #11
To be honest, I didn't. I had to use FRC as a requisite, so I couldn't go with sjoness suggestion.

[2019-06-21 09:40] Super-SkilApp opened #44 "Getting App crashed: in this line MessengerKit.bundle"
Getting App crashed:
in this line MessengerKit.bundle

private func loadFromDefaultNib() {
        let view = UINib(nibName: "MSGMessengerView", bundle: MessengerKit.bundle)
            .instantiate(withOwner: self, options: nil).first as? MSGMessengerView

        view?.frame = CGRect.zero
        view?.backgroundView.backgroundColor = style.inputViewBackgroundColor
        view?.add(collectionVi

[2019-06-26 18:39] #40 closed

[2019-06-26 18:41] #32 closed

[2019-06-26 19:40] sjoness commented on #41
Hi @kharitonovAL, I will be working on implementing a simple way to hide the input view this weekend (fingers crossed).

With regard to adding subviews, where do you want to do this? In the InputView? The UICollectionView?

[2019-07-05 08:56] KOSURUUDAYSAIKUMAR opened #45 "While installing the pod 'MessengerKit' without git command"
While installing the pod 'MessengerKit' without git command
It is not installing properly and installed old version. In that there is no files inside the pod folder.

[2019-08-07 14:14] BrandonBisbano opened #46 "Inserting Image Causes Constraint Issues"

[2019-08-07 14:18] BrandonBisbano commented on #46
Inserting text and then an image sometimes creates a situation as seen in the sample image below. In addition, sometimes when inserting an image and then text the text bubble retains the height of an image.
![FB9232CA-9ADC-42AE-8D2B-0EFC5A621D08](https://user-images.githubusercontent.com/46690038/62630311-b0439800-b8fc-11e9-9698-6f08e36e8c7b.png)

[2019-08-19 14:54] fuatkarip opened #47 "image from url"
hi
how can i add image from url
i try .image but cant load

thx

[2019-09-02 09:41] ritz122 opened #49 "multiline messages ui is not proper"
When adding new multiline message in section it looks like below screen shot

![Simulator Screen Shot - iPhone 5s - 2019-09-02 at 11 49 05](https://user-images.githubusercontent.com/49153256/64105440-e1947400-cd93-11e9-8882-956a419de211.png)

[2019-10-06 09:09] RajChanchal opened #50 "Pull to refresh messages"
Hello, how can we add pull to refresh to load more messages.

Like I use following component: https://github.com/CRAnimation/CRRefresh
On  collectionView/tableview. But MesengerKit collectionview is put private so cannot add CRRefresh. Any suggestions?

[2019-10-16 05:13] ios-applyjob commented on #47
I am having the same issue while loading image or video asynchronously..Please look into this

[2019-10-17 08:57] ios-applyjob commented on #47
Found a working solution:
Create a custom image incoming and image outgoing cell.
change arguments in MSGMessageBody.image to (UIImage, String).
Set the image in the custom cell from the URL. I personally used Kingfisher.

[2019-10-21 05:30] DaraChanis opened #51 "How to map firestore data with MSGMessage?"

[2019-10-22 16:32] ruanorz commented on #47
Please, can you share your solution? Thank you 🙏

[2019-10-23 19:24] ednofedulo commented on #33
#52

[2019-10-24 14:09] windstormeye commented on #33
thinks~

[2019-10-24 14:09] #33 closed

[2019-10-24 14:16] sjoness commented on #47
Hi @fuatkarip, @ruanorz

[PR#48](https://github.com/steve228uk/MessengerKit/pull/48) was just merged and offers this feature. Check it out 😁

[2019-10-24 14:16] #47 closed

[2019-10-24 14:20] sjoness commented on #34
Closing as the initial issue has been resolved as user error. The new issues has been reported in #49

[2019-10-24 14:20] #34 closed

[2019-10-25 10:24] ios-applyjob commented on #32
how can i pass the button press to the MSGMessengerViewController?

[2019-10-29 18:16] leonyannik opened #53 "Swift Package Manager?"
Are there any plans to add swift package manager installation? would be much appreciated!!!! thanks!

[2019-10-29 18:39] sjoness commented on #53
It's definitely on my todo list! It's a pretty busy period for me from now until the new year though so not sure when I'll get around to it! Any help would be appreciated!

[2019-10-30 12:32] alessioarsuffi commented on #53
I think would be better to wait for the support of Resources (images, plist & more) in SPM.

check here: https://bugs.swift.org/browse/SR-2866

[2019-10-31 09:53] mbappinte opened #54 "It lacks a trailing constraint for incomingText"
It lacks a trailing constraint for incomingText :

<img width="473" alt="Capture d’écran 2019-10-31 à 10 49 35" src="https://user-images.githubusercontent.com/26763924/67936733-9993a100-fbcc-11e9-9ef2-8c4d9f3cbfe8.png">

![IMG_0A92F39B8AA0-1](https://user-images.githubusercontent.com/26763924/67937567-1b37fe80-fbce-11e9-902b-24a5ee8d8380.jpeg)

[2019-11-14 09:14] ruanorz commented on #46
Ensure that you are using an unique ID for each message.

[2019-12-06 08:43] rogermolas opened #55 "Add rawValue property in MSGMessageBody to access the raw string value"
Issue: **Problem working with Firebase adding a message as MSGMessage object**

**1. The first step is to identify the string type before adding it to `MSGMessage` object.**
[code]

**2. Insert the message object**
[code]
**3. Write the message in Firebase** ***<- Not supported***
`MSGMessageBody` object is not supported type:
https://firebase.google.com/docs/firestore/manage-data/data-types

**Th

[2019-12-11 18:19] korantengNanaYaw commented on #49
Any fix on this bug ?

[2019-12-11 20:18] korantengNanaYaw opened #56 "How to add a small simple UIlabel at the bottom to the chat cell"
i need help adding a small UILabel to the text chat bubble  which will display the time the message was sent/created, after i edited the xib file , and added the UIlabel it breaks the existing constraint . any help will be appreciated

![IMG_82CE77B69016-1](https://user-images.githubusercontent.com/20087958/70657140-337e4d00-1c53-11ea-9ef3-8af006089a69.jpeg)

[2019-12-19 23:53] DanijelHuis commented on #53
Good news:
https://github.com/apple/swift-evolution/blob/master/proposals/0271-package-manager-resources.md

[2019-12-22 16:58] sjoness commented on #16
Closing due to inactivity

[2019-12-22 16:58] #16 closed

[2019-12-22 17:00] #26 closed

[2019-12-22 17:07] sjoness commented on #45
@KOSURUUDAYSAIKUMAR the entry in your Podfile should look like the following:

[code]

[2019-12-22 17:07] #45 closed

[2019-12-22 20:54] TimBroddin opened #58 "Send on enter"
Hi,

Could you point me in the right direction for making the input field single line, and allowing send on enter?

[2020-01-04 10:49] mohammadFirouzi opened #59 "send image"
how can send image or video ? there isn't any button in input view for this !

[2020-01-05 17:02] sjoness commented on #58
Hey @TimBroddin,

There are a few options that you could try here https://stackoverflow.com/a/704197/572027. Using a `UITextField` in place of the `UITextView` is probably the best option. However single line text entry is not a use-case we want to support right now in this library, so you would have to use your own fork if you want to make this change.

[2020-01-05 17:02] #58 closed

[2020-01-05 17:26] sjoness commented on #56
@korantengNanaYaw you need to subclass `MSGSectionReusableView` and create a footer view for your style. See [MSGImessageFooterView.swift](https://github.com/steve228uk/MessengerKit/blob/master/MessengerKit/Collection%20View/Header%20Footers/iMessage/MSGImessageFooterView.swift) for example. You then need to register the footer view in your `MSGCollectionView` subclass e.g. [MSGImessageCollectionV

[2020-01-05 17:28] sjoness commented on #55
@rogermolas feel free to submit a PR for this change! 😄

[2020-01-05 17:31] sjoness commented on #46
Closing this as @ruanorz is correct. Ensure that each MSGMessage instance has a unique ID

[2020-01-05 17:31] #46 closed

[2020-01-05 17:33] sjoness commented on #49
@ritz122 @korantengNanaYaw This seems like #46.

Can you confirm that you guys have unique identifiers for each `MSGMessage` instance?

[2020-01-05 17:38] sjoness commented on #51
@DaraChanis see the following comment https://github.com/steve228uk/MessengerKit/issues/55#issue-533823903

[2020-01-05 17:38] #51 closed

[2020-01-07 02:31] rogermolas commented on #55
@sjoness Done #60

[2020-01-07 19:45] alperen23230 opened #61 "Load more messages (Pagination)"
Does this library support the pagination in chat ? I'm using pagination in my chat app.

[2020-01-09 18:41] #55 closed

[2020-01-10 20:43] sjoness commented on #36
Hey @parrotbait, sorry I took so long to get around to this!

I have pushed a change in commit c36fdcf93a1288215e1e7b8e0fa533477a041e34. Can you check if this resolves the issue you were having?

[2020-01-13 08:57] parrotbait commented on #36
Yep - thanks that resolves it.

[2020-01-13 10:41] sjoness commented on #36
Awesome!

[2020-01-14 21:31] #36 closed

[2020-01-21 10:53] #56 closed

[2020-02-28 03:20] Andrew-Chen-Wang commented on #50
Use WebSockets instead of pull to refresh. Better for UX.

[2020-02-28 03:20] Andrew-Chen-Wang commented on #42
@dan007b3 Any updates on this problem?

[2020-03-02 09:49] eftalersoy commented on #61
hello same question for me. I am thinking using this but I can't find any documentation about how I can insert old messages for chat history.

I tried using func message(for indexPath: IndexPath) -> MSGMessage for detecting section 0 then making a call to get second history page.

[code]
But this somehow making it infinite loop.
I will try to use collection view delegate methods now but if there i

[2020-03-04 14:26] AntonShapoval opened #65 "Issue with UI of 'MSGMessengerViewController' (iOS 13)"
Issue with UI of 'MSGMessengerViewController' (iOS 13)

Steps:
1. push in Navigation controller instance of MSGMessengerViewController subclass
2. tap in text field of MSGInputView
3. keyboard appears
4. minimize the application by press of 'Home'
5. activate application by tap on app icon
6. show modally login screen (on top of a chat screen)
7. enter credentials and dismiss login screen
8. see i

[2020-03-05 11:00] irfanabdulkhaliq commented on #61
I am also using pagination in my chat , how I can load more message in chat

[2020-03-08 13:09] sjoness commented on #65
Hi @AntonShapoval, thanks for opening this issue. If you would like to submit a PR, I would be happy to review it 👍

[2020-04-21 01:55] Ahmedyoussefg5 commented on #59
Make a custom input view

[2020-05-15 09:57] Evolgence opened #67 "Navigation bar over ... in iOS 13"
![Simulator Screen Shot - iPhone 11 - 2020-05-15 at 15 25 15](https://user-images.githubusercontent.com/32739134/82037989-86f03d80-96c0-11ea-84f9-cd36b61d4bd1.png)

[2020-05-28 13:46] smhk opened #68 "Odd issue ... no "import UIKit" ??"
Fantastic library, there's a strange thing...

I simply dragged `MessengerKit` folder in to my project,

You get 100 errors that "import UIKit" is missing ..

Easy to fix but is there something I'm not getting?

![Screen Shot 2020-05-28 at 8 43 38 AM](https://user-images.githubusercontent.com/3938526/83149465-bc812780-a0bf-11ea-885c-2f0dc98fccfa.png)

[2020-05-29 11:49] smhk commented on #38
### To change font size ...

It's just the ".font" property in the style. So for example:

[code]

The relevant file is "MSGIMessageStyle.swift"

Note that in the file, the default is

`public var font: UIFont = .preferredFont(forTextStyle: .body)
`

which explains why generally it is pretty large by default.

[2020-05-29 13:38] smhk commented on #53
it would surely be advantageous for this library to be the first with SPM -

Look how incredibly easy it is to add Nuke, for example...

https://github.com/kean/Nuke/blob/9.0.0/Document…

"In Xcode go to File / Swift Packages / Add Package Dependency  and enter https://github.com/kean/Nuke.git"

Wow!  So easy.

[2020-06-13 10:59] kaitoshadow opened #69 "How to custom input view?"
Hi,

I want to custom the input view. how i can do it? Thanks.

[2020-06-22 07:36] dverdugo85 opened #70 "issue with xcode 11.5"
/Users/xxxx/Library/Developer/Xcode/DerivedData/B7_xxxx-ellmfzslerdxdufycfrkyjybgibz/Build/Intermediates.noindex/B7_xxx.build/Debug-iphoneos/B7_xxxx.build/Objects-normal-asan/arm64/MSGMessengerViewController + Helpers.dia:1:1: Could not read serialized diagnostics file: Cannot Load File: Failed to open diagnostics file

![Captura de Pantalla 2020-06-22 a la(s) 03 36 06](https://user-images.githubu

[2020-06-26 13:15] #68 closed

[2020-06-26 14:45] smhk opened #71 "Quick question, just add an inputAccessoryView ??"
I want to simply add an inputAccessoryView to the keyboard,

`messageInputView.textView.inputAccessoryView =`

does not work, "Cannot assign to property: 'inputAccessoryView' is a get-only property"

what's the easy way to add . inputAccessoryView ??

![Screen Shot 2020-06-26 at 9 44 39 AM](https://user-images.githubusercontent.com/3938526/85869718-af745880-b791-11ea-9ef7-1121fd1f26ff.png)

[2020-06-27 21:12] sjoness commented on #41
Closing due to lack of requirements

[2020-06-27 21:12] #41 closed

[2020-06-27 21:15] #59 closed

[2020-06-27 21:54] sjoness commented on #54
@bleformal sorry for taking so long to get back to you! I don't see this issue. Can you let me know in what context you get this behaviour? Some sample code or just an explanation would be good 😄

[2020-06-27 22:32] #49 closed

[2020-06-27 23:00] sjoness commented on #69
@kaitoshadow you can subclass `MSGInputView` to provide your own. See [this custom](https://github.com/steve228uk/MessengerKit/blob/master/MessengerKit/Input/Styles/Travamigos/MSGTravInputView.swift) input view for an example.

[2020-06-27 23:00] #69 closed

[2020-06-27 23:30] sjoness commented on #44
Closing as I cannot reproduce. Will re-address this if it comes up again

[2020-06-27 23:30] #44 closed

[2020-06-27 23:31] #17 closed

[2020-06-27 23:34] sjoness commented on #50
I'm going to close this as a duplicate of #61 because it seems you want the same functionality

[2020-06-27 23:34] #50 closed

[2020-06-27 23:36] sjoness commented on #71
@smhk currently the textView occupies the space where an inputAccessoryView would go. Is this something that you would like in-place of the textView, or above it?

[2020-06-27 23:37] sjoness commented on #70
Never seen this before. I will have a look at it soon 👍

[2020-06-28 09:14] smhk commented on #71
ah makes sense, thanks for the reply and explanation, @sjoness

due to customization needs. in the end it was easier for us to just use a table view rather than a library

very best, cheers

[2020-06-28 09:14] #71 closed

[2020-06-28 09:46] sjoness commented on #67
@Evolgence can you provide some sample code?

[2020-06-28 19:58] sjoness commented on #30
Wont support iOS 9

[2020-06-28 19:58] #30 closed

[2020-07-18 03:38] mlyongardiner opened #72 "Change MSGMessengerView bounds in ViewController"
How can I set the bounds of the MSGMessengerView to not take up the whole ViewController I assign it to? For example, if I wanted to create a custom NavBar at the top, and have the MSGMessengerView's top constraint set to the bottom of my NavBar.

Thanks!

[2020-07-22 01:25] mlyongardiner commented on #72
Or even, how can I add the MessengerView as a view and implement the protocols in my view controller - just trying to figure out how I can implement MSGMessengerViewController into some sort of custom VC.

[2020-08-17 12:56] ErAshu opened #73 "How to show user name in Incoming msg"
I have to implement this as group message. In Group, the username show at the top of bubble if incoming message.
How to show user name in Incoming msg.

[2020-08-23 00:00] lingxiao opened #74 "Remove input text view"
Is there away to remove the input text view? I tried doing:
` style.inputView = TrivialInputView.self`

And defining a TrivialnputView by modifying what is found here: https://github.com/steve228uk/MessengerKit/blob/05168377536ebeae3653edfa5acc6410895cd72f/MessengerKit/Input/Styles/iMessage/MSGImessageInputView.swift.

But it crashes outright with error: `Thread 1: Fatal error: Unexpectedly found

[2020-10-06 06:54] emelyanovkirill opened #76 "Override delegate method for collectionView"
When I override the delegate method `func collectionView(_ collectionView: UICollectionView, contextMenuConfigurationForItemAt indexPath: IndexPath, point: CGPoint) -> UIContextMenuConfiguration?`
for collectionView, I get error

How can I call the context menu for collection?

[2021-01-18 14:59] lucasanh opened #78 "UI error after camera captured."
I am trying to send an image from the camera. so I opened chat vc and entered camera caputure screen using UIImagePickerController.
Inputview went up to the top and the UI was messed up.
This problem has only happened after the first loading.

<img width="250" alt="IMG_5061 (1)" src="https://user-images.githubusercontent.com/66033254/104930940-1e90f300-59e9-11eb-8d08-2b7f5659ce0e.png">

How can I

[2021-07-25 09:58] santudey opened #80 "How can I add Caption for Image type"
Creating an interesting way to take a note by using MessangerKit. I absolutely love the MessangerKit.
https://apps.apple.com/us/app/nanonote-note-to-self/id1575376162#?platform=iphone

I want to add a caption in the image, same as whatsapp. I am stuck at this stage for the last couple of hours. Any help will be really appreciated.
![Simulator Screen Shot - iPhone 12 - 2021-07-25 at 15 19 49](https